body{
  font-family: arial, sans-serif;
  color: #979797;
  margin: 0;
  padding: 0;
}

.clearfix{
  overflow: auto;
  clear: both;
}

a{
  outline: none;
  text-decoration: none;
  color: #979797;
  transition: color 1s;

}

a:hover{
  font-weight: bold;
}

.wrapper{
  width: 1000px;
  margin: 0 auto;
}

header .logo{
  padding-left: 20px;
  float: left;
}

header .logo h1,
header .logo h2{
  font-weight: normal;
  text-transform: none;
  margin: 0;
  padding: 0;
}

header .logo h1{
  font-size: 36px;
}

header .logo h2{
  font-size: 14px;
}

header nav{
  float: right;
  margin-left: 20px;
  padding: 20px 0;
}


header nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li{
  display: inline;
  margin-right: 25px;
  text-transform: uppercase;
}

header nav li.last{
  margin-right: 0;
}

header nav li a:hover{
  color: #f90;
}

main .banner img{
  width: 100%;
  margin-top: 4px;
}

main .welcomeText{
  padding: 30px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

main .welcomeText h1{
  font-size: 36px;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
}

main .welcomeText p{
  font-size: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.8em;
}

main .buildingCard{
  width: 200px;
  float: left;
  margin: 0px 25px;
  background-color: #ccc;
}

main .buildingCard img{
  width: 100%;
}

main .buildingCard article{
  padding: 10px;
}

footer{
  margin-top: 20px;
  padding: 20px 0;
  background-color: #004C99;
  color: #ffe;
  text-align: center;
}

 main .SideImage img{
  width: 400px;
  padding-right: 0px;
  float: left;
}
main .SideImage p{
  width: 600px;
  font-size: 14px;
  font-family: arial, sans-serif;
  float: left;
  line-height: 22px;
  letter-spacing: 1px;
}
